<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cnclib.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cnclib.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CNCLib</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$CNCLib</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="CNCLibContext" Order="1" Enabled="False">
          <Destination Path="Data Source=cnclibdb.database.windows.net;Initial Catalog=CNCLibDb;Persist Security Info=True;User ID=Herbert;Password=Edith1234" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CNCLib.Repository.Context.CNCLibContext, CNCLib.Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CNCLibContext-Web.config Connection String">
      <ParameterValue>Data Source=cnclibdb.database.windows.net;Initial Catalog=CNCLibDb;Persist Security Info=True;User ID=Herbert;Password=Edith1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>