<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Off"
      internalLogToconsole="false"
      autoReload="true">
  <variable name="Layout"
            value="${longdate}|${event-properties:item=EventId_Id}|${threadid}|${level}|${logger}|${message} ${exception:format=tostring,stacktrace}" />
  <variable name="LayoutSerial" value="${longdate}|${level}|${message} ${exception:format=tostring,stacktrace}" />

  <targets>
    <target name="console" xsi:type="AsyncWrapper">
      <target xsi:type="Console" layout="${Layout}"
              detectConsoleAvailable="true" />
    </target>

    <target name="logFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              layout="${Layout}"
              fileName="${basedir}/logs/current.log"
              archiveFileName="${basedir}/logs/log-{#}.zip"
              archiveEvery="Sunday"
              maxArchiveFiles="52"
              enableArchiveFileCompression="true"
              keepFileOpen="true"
              openFileCacheTimeout="30"
              concurrentWrites="false"
              cleanupFileName="false" />
    </target>

    <target name="serialTraceFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              layout="${LayoutSerial}"
              fileName="${basedir}/logs/serial.log"
              archiveFileName="${basedir}/logs/serial-{#}.zip"
              archiveEvery="Sunday"
              maxArchiveFiles="52"
              enableArchiveFileCompression="true"
              keepFileOpen="true"
              openFileCacheTimeout="30"
              concurrentWrites="false"
              cleanupFileName="false" />
    </target>

    <target xsi:type="Database"
            name="database"
            connectionString="${gdc:item=connectionString}"
            commandText="INSERT INTO [dbo].[Log] ([CallSite], [Date], [Exception], [Level], [Logger], [MachineName], [Message], [StackTrace], [Thread], [Username]) VALUES (@CallSite, @Date, @Exception, @Level, @Logger, @MachineName, @Message, @StackTrace, @Thread, @Username);">
      <parameter name="@CallSite" layout="${callsite:filename=true}" />
      <parameter name="@Date" layout="${date}" />
      <parameter name="@Exception" layout="${exception}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
      <parameter name="@Thread" layout="${threadid}" />
      <parameter name="@Username" layout="${windows-identity:domain=true}" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />

    <!-- WebHost writes information about all requests. We want to keep this.  -->
    <!--Skip non-critical Microsoft logs.-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" /> <!-- BlackHole without writeTo -->

    <logger name="*" minlevel="Info" writeTo="logFile" />
    <logger name="Framework.Arduino.SerialCommunication.*" minlevel="Trace" writeTo="serialTraceFile" />

    <logger name="*" minlevel="Info" writeTo="Database" />
  </rules>
</nlog>