.container { width: 150px; }

.sd-button {
  width: 150px;
  padding: 0px;
}

.ofsRow {
  width: 150px;
  padding: 0px;
}

.fileName {
  width: 150px;
  text-align: center;
  padding: 0px;
  height: 30px;
}
