<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Off"
      internalLogToconsole="false"
      autoReload="true">
	<variable name="Layout"
	          value="${longdate}|${event-properties:item=EventId_Id}|${threadid}|${level}|${logger}|${message} ${exception:format=tostring,stacktrace}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
	<variable name="LayoutSerial" value="${longdate}|${level}|${message} ${exception:format=tostring,stacktrace}" />

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.Targets.ConcurrentFile"/>
	</extensions>

	<targets>
		<target name="console" xsi:type="AsyncWrapper">
			<target xsi:type="ColoredConsole" layout="${Layout}"
			        detectConsoleAvailable="true" />
		</target>

		<target name="logFile" xsi:type="AsyncWrapper">
			<target xsi:type="File"
			        layout="${Layout}"
			        fileName="${gdc:item=logDir}/current.log"
			        archiveFileName="${gdc:item=logDir}/log-{#}.zip"
			        archiveEvery="Sunday"
			        maxArchiveFiles="52"
			        enableArchiveFileCompression="true"
			        keepFileOpen="true"
			        openFileCacheTimeout="30"
			        concurrentWrites="false"
			        cleanupFileName="false" />
		</target>

		<target name="serialTraceFile" xsi:type="AsyncWrapper">
			<target xsi:type="File"
			        layout="${LayoutSerial}"
			        fileName="${gdc:item=logDir}/serial.log"
			        archiveFileName="${gdc:item=logDir}/serial-{#}.zip"
			        archiveEvery="Sunday"
			        maxArchiveFiles="52"
			        enableArchiveFileCompression="true"
			        keepFileOpen="true"
			        openFileCacheTimeout="30"
			        concurrentWrites="false"
			        cleanupFileName="false" />
		</target>
	</targets>

	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="logFile" />

		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console" final="true" />

		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="Framework.Arduino.SerialCommunication.*" minlevel="Trace" writeTo="console, serialTraceFile" />
	</rules>
</nlog>