.container { width: 150px; }

.row { width: 150px; }

.nopadding {
  padding: 0px;
  margin: 0px;
}

.save-button {
  width: 40px !important;
  min-width: unset !important;
  padding: 0px;
  float: right;
}

.lable-server { width: 60px; }
