.grid-container {
  display: grid;
  grid-template-columns: 50px 90px 50px;
  grid-template-rows: 80px 80px 80px;
  background-color: #ffffff;
  padding: 0px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 15px;
  text-align: center;
}

.move-button {
  width: 40px;
  height: 40px;
}

.select-grid-container {
  display: grid;
  grid-template-columns: 60px;
  grid-template-rows: 25px 50px;
  padding-left: 15px;
}

.select-grid-item {
  text-align: center;
  padding: 0px;
}

.select-button {
  width: 30px;
  padding: 0px;
}

