<div>
  <h1>Machine control</h1>
</div>

<p *ngIf="isLoading">
  <em>Loading()...</em>
</p>

<div *ngIf="!isLoading">
  <div *ngIf="!serialport.IsConnected">
    <machinecontrolconnect [entry]="serialport">Loading...</machinecontrolconnect>
  </div>
  <div *ngIf="serialport.IsConnected">


    <div class="grid-container2">
      <div class="grid-item2">
        <div class="grid-container">
          <div class="grid-item"></div>
          <div class="grid-item">
            <div>+Y</div>
            <button style="width: 40px" (click)='postcommand("g91 g0y0.1 g90")'>0.1</button>
            <button style="width: 40px" (click)='postcommand("g91 g0y1 g90")'>1</button>
            <button style="width: 40px" (click)='postcommand("g91 g0y10 g90")'>10</button>
            <button style="width: 40px" (click)='postcommand("g91 g0y100 g90")'>100</button>
          </div>
          <div class="grid-item" style="margin-left: 10px">
            <div>+Z</div>
            <button style="width: 40px" (click)='postcommand("g91 g0z100 g90")'>100</button>
            <button style="width: 40px" (click)='postcommand("g91 g0z10 g90")'>10</button>
            <button style="width: 40px" (click)='postcommand("g91 g0z1 g90")'>1</button>
            <button style="width: 40px" (click)='postcommand("g91 g0z0.1 g90")'>0.1</button>
          </div>
          <div class="grid-item">
            <div>-X</div>
            <button style="width: 40px" (click)='postcommand("g91 g0x-100 g90")'>100</button>
            <button style="width: 40px" (click)='postcommand("g91 g0x-10 g90")'>10</button>
            <button style="width: 40px" (click)='postcommand("g91 g0x-1 g90")'>1</button>
            <button style="width: 40px" (click)='postcommand("g91 g0x-0.1 g90")'>0.1</button>
          </div>
          <div class="grid-item"></div>
          <div class="grid-item">
            <div>+X</div>
            <button style="width: 40px" (click)='postcommand("g91 g0x0.1 g90")'>0.1</button>
            <button style="width: 40px" (click)='postcommand("g91 g0x1 g90")'>1</button>
            <button style="width: 40px" (click)='postcommand("g91 g0x10 g90")'>10</button>
            <button style="width: 40px" (click)='postcommand("g91 g0x100 g90")'>100</button>
          </div>
          <div class="grid-item"></div>
          <div class="grid-item">
            <div>-Y</div>
            <button style="width: 40px" (click)='postcommand("g91 g0y-100 g90")'>100</button>
            <button style="width: 40px" (click)='postcommand("g91 g0y-10 g90")'>10</button>
            <button style="width: 40px" (click)='postcommand("g91 g0y-1 g90")'>1</button>
            <button style="width: 40px" (click)='postcommand("g91 g0y-0.1 g90")'>0.1</button>
          </div>
          <div class="grid-item" style="margin-left: 10px">
            <div>-Z</div>
            <button style="width: 40px" (click)='postcommand("g91 g0z-1 g90")'>1</button>
            <button style="width: 40px" (click)='postcommand("g91 g0z-0.1 g90")'>0.1</button>
            <button style="width: 40px" (click)='postcommand("g91 g0z-100 g90")'>100</button>
            <button style="width: 40px" (click)='postcommand("g91 g0z-10 g90")'>10</button>
          </div>
        </div>
      </div>
      <div class="grid-item2">
        <label style="width: 60px">G-Command: </label><input #gCode (keyup.enter)="postcommand(gCode.value); gCode.value=''"/>

        <p></p><label style="width: 60px">Info</label>
        <button (click)='postcommand("?")'>Info</button>
        <button (click)='postcommand("&")'>Debug</button>
        <button (click)='postcommand("@")'>Version</button>
        <button (click)='postcommand("!")'>abort</button>
        <button (click)='postcommand("!!!")'>resurrect</button>

        <p></p><label style="width: 60px">Offset</label>
        <button (click)='postcommand("g92")'>clear</button>
        <button (click)='postcommand("g92x0")'>set X</button>
        <button (click)='postcommand("g92y0")'>set Y</button>
        <button (click)='postcommand("g92z0")'>set Z</button>

        <p></p><label style="width: 60px">Probe</label>
        <button (click)='sendWhileOkcommands(["g91 g31z-"+probeDist+"f100 g90","g92 z-"+probeSize,"g91 g0z"+retractDist+" g90"])'>probe Z</button>
        <label>dist </label><input style="width: 60px" type="number" step="0.1" min="0" max="100" [value]="probeDist" (input)="probeDist=$event.target.value"/>
        <label>size </label><input style="width: 60px" type="number" step="0.01" min="0" max="100" [value]="probeSize" (input)="probeSize=$event.target.value"/>
        <label>retract </label><input style="width: 60px" type="number" step="0.01" min="0" max="100" [value]="retractDist" (input)="retractDist=$event.target.value"/>

        <p></p><label style="width: 60px">Spindle</label>
        <button (click)='postcommand("m3")'>on</button>
        <button (click)='postcommand("m5")'>off</button>

        <p></p><label style="width: 60px">Ref</label>
        <button (click)='postcommand("g28 x0")'>X</button>
        <button (click)='postcommand("g28 y0")'>Y</button>
        <button (click)='postcommand("g28 z0")'>Z</button>

        <p></p><label style="width: 60px">SD</label>
        <button (click)='postcommand("m20")'>dir</button>

      </div>
    </div>
  </div>
  <serialporthistory [forserialportid]=serialport.Id [autoreloadonempty]=true>Loading...</serialporthistory>
</div>
