.grid-container {
  display: grid;
  grid-template-columns: 115px 115px 115px;
  background-color: #ffffff;
  padding: 0px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 15px;
  text-align: center;
}


.grid-container2 {
  display: grid;
  grid-template-columns: 360px 500px;
  background-color: #ffffff;
  padding: 0px;
}

.grid-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 15px;
  text-align: left;
}

.move-button {
  width: 40px !important;
  min-width: unset !important;
  padding: 0px;
}

.lable-cmd {
  width: 75px;
}
