<div class='main-nav navbar-dark bg-dark'>
  <a class='navbar-brand' [routerLink]='["/"]'>CNCLib.Serial.Server</a>
    <div class='navbar'>
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="/home"><fa-icon icon="home"></fa-icon> Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/serialports"><fa-icon icon="plug"></fa-icon> Serial Ports</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/machinecontrol"><fa-icon icon="sync"></fa-icon> Machinecontrol</a></li>
      </ul>
    </div>
</div>