<div class='main-nav navbar-dark bg-dark'>
  <a class='navbar-brand' [routerLink]='["/"]'>CNCLib.Serial.Server</a>
    <div class='navbar'>
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="/home"><i class="fas fa-angry"></i> Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/serialports">Serial Ports</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/machinecontrol">Machinecontrol</a></li>
      </ul>
    </div>
</div>

<!--

<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">CNCLib.Serial.Server</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/serialports']">
                        <span class='glyphicon glyphicon-th-list'></span> Serial ports
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/machinecontrol']">
                        <span class='glyphicon glyphicon-refresh'></span> Machine control
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

-->
