.container { width: 75px; }

.setget-button {
  width: 25px;
  padding: 0px;
}

.select-button {
  width: 75px;
  padding: 0px;
}

.ofsValue {
  width: 60px;
  text-align: center;
  padding: 0px;
  height: 30px;
}

.ofsRow { }

.btnRow { }

.row { padding: 0px; }

.minPadding { padding-right: 15px; }

.lable-axis { width: 10px; }
