.svn
*.suo
*.bak
*.sdf
*.user
/VC/Arduino.VC/Lib/StepperSystem.lib

Debug/
Release/
ipch/
.vs/
PublishProfiles/

/VC/builds
/Sketch/libraries/grbl

/VC/Arduino.VC/StepperTest/TestResult

/VC/CNCLib/packages
/VC/CNCLib/CNCLib.WebAPI/bin
/VC/CNCLib/CNCLib.WebAPI/_bin_deployableAssemblies
/VC/CNCLib/CNCLib.Web.WebForm/bin
/VC/CNCLib/CNCLib.Web/bin
/VC/CNCLib/CNCLib.Web.MVC/bin
/VC/CNCLib/CNCLib.Logic/bin
/VC/CNCLib/PublishScripts
*.opendb
*.db
/VC/Arduino.VC/Lib/StepperSystem.pdb
/VC/Arduino.VC/iRobot/Axis.xlsx
/VC/Arduino.VC/DCK40Laser/DCK40Laser.csv
/Sketch/DCK40LaserCNCShield
/VC/Sign/Call-Invoke-SignCNCLib.ps1
