.svn
.vscode
*.suo
*.bak
*.sdf
*.user

StypeCop.Cache

Debug/
Release/
ipch/
.vs/
PublishProfiles/

/Src/builds

/Src/CNCLib/packages
/Src/CNCLib/CNCLib.WebAPI/bin
/Src/CNCLib/CNCLib.WebAPI/_bin_deployableAssemblies
/Src/CNCLib/CNCLib.Web.WebForm/bin
/Src/CNCLib/CNCLib.Web/bin
/Src/CNCLib/CNCLib.Logic/bin
/Src/CNCLib/PublishScripts
/Src/CNCLib/TestResults

obj

*.opendb
*.db

/Src/Sign/Call-Invoke-SignCNCLib.ps1

/Doc/Screen7.Jpg
/Doc/Screen6.Jpg
/Doc/Screen5.jpg
/Doc/Screen4a.jpg
/Doc/Screen3a.jpg
/Doc/Screen2.jpg
/Doc/Screen1a.jpg
/Src/CNCLib/CNCLib.WebAPI.Orig
/Src/CNCLib/CNCLib.Serial.Server/wwwroot/dist
/Src/NsisSetup/Output/CNCLib_install.exe
/Src/publishSerialServerForWinService.ps1
/Src/NsisSetup/Output/CNCLib.Sql_install.exe
/Src/NsisSetup/Output/CNCLib.Web_install.exe
*.Cache
/Src/Serial.Server/.config/dotnet-tools.json
/Src/Server/.config/dotnet-tools.json
