<div class="container-fluid">
  <div class="row ofsRow">
    <button mat-stroked-button class="laser-button" (click)='machineControlState.postcommand("m3")'>on</button>
    <button mat-stroked-button class="laser-button" (click)='machineControlState.postcommand("m3 s1")'>on(min)</button>
    <button mat-stroked-button class="laser-button" (click)='machineControlState.postcommand("m3 s255")'>on(max)</button>
    <button mat-stroked-button class="laser-button" (click)='machineControlState.postcommand("m5")'>off</button>
  </div>
</div>
