<form novalidate [formGroup]="gCodeForm" (ngSubmit)="savegCode(gCodeForm.value)">

  <div class="form-group input-group">
    <span class="input-group-addon">Filename</span>
    <input matInput class="form-control" formControlName="fileName"/>
    <input (change)="uploadFile($event)" type="file" accept=".nc,.plt,.png,.jpg,.jpeg,.hpgl">
  </div>

  <div *ngIf="isAutoScale()" class="input-container">

    <div class="form-group input-group">
      <span class="input-group-addon">Scale to Size X (mm)</span>
      <input matInput class="form-control" formControlName="autoScaleSizeX"/>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon">Scale to Size Y (mm)</span>
      <input matInput class="form-control" formControlName="autoScaleSizeY"/>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon">Margin X (mm)</span>
      <input matInput class="form-control" formControlName="autoScaleBorderDistX"/>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon">Margin Y (mm)</span>
      <input matInput class="form-control" formControlName="autoScaleBorderDistY"/>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon">Keep Ratio</span>
      <mat-checkbox class="form-control" formControlName="autoScaleKeepRatio"></mat-checkbox>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon">Center</span>
      <mat-checkbox class="form-control" formControlName="autoScaleCenter"></mat-checkbox>
    </div>

  </div>

  <!--<button mat-stroked-button type="submit" class="btn btn-default" [disabled]="!gCodeForm.valid">Run</button>-->

</form>
