<style type="text/css">
  span { width: 200px; }
</style>

<head>
</head>

<body>

<h3 *ngIf="!machine.id">Neue Maschine anlegen</h3>
<h3 *ngIf="machine.id">Maschine bearbeiten</h3>

<form novalidate [formGroup]="machineForm" (ngSubmit)="saveMachine(machineForm.value)">

  <div class="form-group input-group">
    <span class="input-group-addon">Description</span>
    <input class="form-control" formControlName="description"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">ComPort</span>
    <input class="form-control" formControlName="comPort"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">Serial Server</span>
    <input class="form-control" formControlName="serialServer"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">Serial Server Port</span>
    <input class="form-control" formControlName="serialServerPort"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">Baud rate</span>
    <input class="form-control" formControlName="baudRate"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">Axis</span>
    <input class="form-control" formControlName="axis"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">Size-X</span>
    <input class="form-control" formControlName="sizeX"/>
  </div>
  <div *ngIf="machine.axis > 1" class="form-group input-group">
    <span class="input-group-addon">Size-Y</span>
    <input class="form-control" formControlName="sizeY"/>
  </div>
  <div *ngIf="machine.axis > 2" class="form-group input-group">
    <span class="input-group-addon">Size-Z</span>
    <input class="form-control" formControlName="sizeZ"/>
  </div>
  <div *ngIf="machine.axis > 3" class="form-group input-group">
    <span class="input-group-addon">Size-A</span>
    <input class="form-control" formControlName="sizeA"/>
  </div>
  <div *ngIf="machine.axis > 4" class="form-group input-group">
    <span class="input-group-addon">Size-B</span>
    <input class="form-control" formControlName="sizeB"/>
  </div>
  <div *ngIf="machine.axis > 5" class="form-group input-group">
    <span class="input-group-addon">Size-C</span>
    <input class="form-control" formControlName="sizeC"/>
  </div>

  <div class="form-group input-group">
    <span class="input-group-addon">Buffersize</span>
    <input class="form-control" formControlName="bufferSize"/>
  </div>

  <div class="form-group input-group">
    <span class="input-group-addon">Command to upper</span>
    <input type="checkbox" class="form-control" formControlName="commandToUpper"/>
  </div>

  <div class="form-group input-group">
    <span class="input-group-addon">Probesize X</span>
    <input class="form-control" formControlName="probeSizeX"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">Probesize Y</span>
    <input class="form-control" formControlName="probeSizeY"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">Probesize Z</span>
    <input class="form-control" formControlName="probeSizeZ"/>
  </div>

  <div class="form-group input-group">
    <span class="input-group-addon">ProbeDist-Up</span>
    <input class="form-control" formControlName="probeDistUp"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">ProbeDist</span>
    <input class="form-control" formControlName="probeDist"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">ProbeFeed</span>
    <input class="form-control" formControlName="probeFeed"/>
  </div>

  <div class="form-group input-group">
    <span class="input-group-addon">SDSupport</span>
    <input type="checkbox" class="form-control" formControlName="SDSupport"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">Spindle</span>
    <input type="checkbox" class="form-control" formControlName="spindle"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">Coolant</span>
    <input type="checkbox" class="form-control" formControlName="coolant"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">Laser</span>
    <input type="checkbox" class="form-control" formControlName="laser"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">Rotate</span>
    <input type="checkbox" class="form-control" formControlName="rotate"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">Command syntax</span>
    <select formControlName="commandSyntax" class="form-control">
      <option [value]=0>GCodeBasic</option>
      <option [value]=1>GCode</option>
      <option [value]=2>HPGL</option>
    </select>
  </div>

  <h3>Commands</h3>
  <div formArrayName="commands">
    <div class="row">
      <label class="col-2">Name</label>
      <label class="col-4">Command</label>
      <label class="col">X</label>
      <label class="col">Y</label>
      <label class="col-2">Joystick</label>
      <label class="col"></label>
    </div>
    <div *ngFor="let command of commandsArray.controls; let i = index">
      <div class="command-controls row" [formGroupName]="i">
        <input class="form-control col-2" formControlName="commandName">
        <input class="form-control col-4" formControlName="commandString">
        <input class="form-control col" formControlName="posX">
        <input class="form-control col" formControlName="posY">
        <input class="form-control col-2" formControlName="joystickMessage">
        <button class="btn btn-danger col-xm" (click)="removeCommand(i)">
          delete
        </button>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <button class="btn btn-success" (click)="addCommand()">Add command</button>
  </div>

  <h3>Init Commands</h3>
  <div formArrayName="initCommands">
    <div class="row">
      <label class="col">SeqNo</label>
      <label class="col-8">Command String</label>
    </div>
    <div *ngFor="let initcommand of initCommandsArray.controls; let i = index">
      <div class="command-controls row" [formGroupName]="i">
        <input class="form-control col" formControlName="seqNo">
        <input class="form-control col-8" formControlName="commandString">
        <button class="btn btn-danger col-xm" (click)="removeInitCommand(i)">
          delete
        </button>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <button class="btn btn-success" (click)="addInitCommand()">Add init command</button>
  </div>

  <button type="submit" class="btn btn-default" [disabled]="!machineForm.valid">
    Save machine
  </button>
</form>

</body>
