<div class="container-fluid nopadding">
  <div class="row menu-row nopadding">
    <button mat-raised-button color="warn" class="menuShow-button" (click)='emergencyStop()'>E-Stop</button>
    @if (!machineControlGlobal.showMove) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showMove = true'>Move</button>
    }
    @if (!machineControlGlobal.showInfo) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showInfo = true'>Info</button>
    }
    @if (!machineControlGlobal.showCommand) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showCommand = true'>Command</button>
    }
    @if (!machineControlGlobal.showPosition) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showPosition = true'>Position</button>
    }
    @if (!machineControlGlobal.showOffset) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showOffset = true'>Offset</button>
    }
    @if (serialServer.getMachine().workOffsets > 0 && !machineControlGlobal.showWorkOffset) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showWorkOffset = true'>WorkOffset</button>
    }
    @if (serialServer.getMachine().spindle && !machineControlGlobal.showSpindle) {
      <button at-stroked-button class="menuShow-button" (click)='machineControlGlobal.showSpindle = true'>Spindle</button>
    }
    @if (serialServer.getMachine().coolant && !machineControlGlobal.showCoolant) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showCoolant = true'>Coolant</button>
    }
    @if (serialServer.getMachine().laser && !machineControlGlobal.showLaser) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showLaser = true'>Laser</button>
    }
    @if (serialServer.getMachine().rotate && !machineControlGlobal.showRotate) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showRotate = true'>Rotate</button>
    }
    @if (serialServer.getMachine().sdSupport && !machineControlGlobal.showSd) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showSd = true'>SD</button>
    }
    @if (!machineControlGlobal.showRefMove) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showRefMove = true'>Ref</button>
    }
    @if (!machineControlGlobal.showCustom) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showCustom = true'>Custom</button>
    }
    @if (!machineControlGlobal.showFile) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showFile = true'>File</button>
    }
    @if (!machineControlGlobal.showJoystick) {
      <button mat-stroked-button class="menuShow-button" (click)='machineControlGlobal.showJoystick = true'>Joystick</button>
    }
  </div>
</div>
