<h1>G-Code details templates: {{ entry.SettingName }}</h1>

<div>

<head>
  <style>
    table,
    th,
    td { border: 1px solid black; }
  </style>
</head>
<table>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Id</td>
    <td>{{ entry.Id }}</td>
  </tr>
  <tr>
    <td>Setting-Name</td>
    <td>{{ entry.SettingName }}</td>
  </tr>
  <tr>
    <td>Load-Type</td>
    <td>{{ ELoadType[entry.LoadType] }}</td>
  </tr>
  <tr>
    <td>File-Name</td>
    <td>{{ entry.FileName}}</td>
  </tr>
  <tr>
    <td>StartupCommands</td>
    <td>{{ entry.StartupCommands}}</td>
  </tr>
  <tr>
    <td>ShutdownCommands</td>
    <td>{{ entry.ShutdownCommands}}</td>
  </tr>
  <tr>
    <td>SubstG82</td>
    <td>{{ entry.SubstG82}}</td>
  </tr>
  <tr>
    <td>AddLineNumbers</td>
    <td>{{ entry.AddLineNumbers}}</td>
  </tr>
</table>
<table *ngIf="isHPGL()">
  <tr>
    <th>HPGL</th>
  </tr>
  <tr>
    <td>PenMoveType</td>
    <td>{{ PenType[entry.PenMoveType]}}</td>
  </tr>
  <tr>
    <td>SwapXY</td>
    <td>{{ entry.SwapXY}}</td>
  </tr>
  <tr>
  <td>SmoothType</td>
  <td>{{ SmoothTypeEnum[entry.SmoothType]}}</td>
  <tr>
    <td>ConvertType</td>
    <td>{{ ConvertTypeEnum[entry.ConvertType]}}</td>
  </tr>
  <tr>
    <td>AutoScale</td>
    <td>{{ entry.AutoScale}}</td>
  </tr>
</table>

<table *ngIf="isSmooth()">
  <tr>
    <th>Smooth</th>
  </tr>
  <tr>
    <td>SmoothMinAngle</td>
    <td>{{ entry.SmoothMinAngle}}</td>
  </tr>
  <tr>
    <td>SmoothMinLineLength</td>
    <td>{{ entry.SmoothMinLineLength}}</td>
  </tr>
  <tr>
    <td>SmoothMaxError</td>
    <td>{{ entry.SmoothMaxError}}</td>
  </tr>
</table>

<table *ngIf="isAutoScale()">
  <tr>
    <th>AutoScale</th>
  </tr>
  <tr>
    <td>AutoScaleKeepRatio</td>
    <td>{{ entry.AutoScaleKeepRatio}}</td>
  </tr>
  <tr>
    <td>AutoScaleCenter</td>
    <td>{{ entry.AutoScaleCenter}}</td>
  </tr>
  <tr>
    <td>AutoScaleSizeX</td>
    <td>{{ entry.AutoScaleSizeX}}</td>
  </tr>
  <tr>
    <td>AutoScaleSizeY</td>
    <td>{{ entry.AutoScaleSizeY}}</td>
  </tr>
  <tr>
    <td>AutoScaleBorderDistX</td>
    <td>{{ entry.AutoScaleBorderDistX}}</td>
  </tr>
  <tr>
    <td>AutoScaleBorderDistY</td>
    <td>{{ entry.AutoScaleBorderDistY}}</td>
  </tr>
</table>
<table *ngIf="isScale()">
  <tr>
    <th>Scale</th>
  </tr>
  <tr>
    <td>ScaleX</td>
    <td>{{ entry.ScaleX}}</td>
  </tr>
  <tr>
    <td>ScaleY</td>
    <td>{{ entry.ScaleY}}</td>
  </tr>
  <tr>
    <td>OfsX</td>
    <td>{{ entry.OfsX}}</td>
  </tr>
  <tr>
    <td>OfsY</td>
    <td>{{ entry.OfsY}}</td>
  </tr>
</table>
<table *ngIf="isEngrave()">
  <tr>
    <th>Engrave</th>
  </tr>
  <tr>
    <td>EngravePosInParameter</td>
    <td>{{ entry.EngravePosInParameter}}</td>
  </tr>
  <tr>
    <td>EngravePosUp</td>
    <td>{{ entry.EngravePosUp}}</td>
  </tr>
  <tr>
    <td>EngravePosDown</td>
    <td>{{ entry.EngravePosDown}}</td>
  </tr>
  <tr>
    <td>MoveSpeed</td>
    <td>{{ entry.MoveSpeed}}</td>
  </tr>
  <tr>
    <td>EngraveDownSpeed</td>
    <td>{{ entry.EngraveDownSpeed}}</td>
  </tr>
</table>
<table *ngIf="isLaser()">
  <tr>
    <th>Laser</th>
  </tr>
  <tr>
    <td>MoveSpeed</td>
    <td>{{ entry.MoveSpeed}}</td>
  </tr>
  <tr>
    <td>LaserFirstOnCommand</td>
    <td>{{ entry.LaserFirstOnCommand}}</td>
  </tr>
  <tr>
    <td>LaserOnCommand</td>
    <td>{{ entry.LaserOnCommand}}</td>
  </tr>
  <tr>
    <td>LaserOffCommand</td>
    <td>{{ entry.LaserOffCommand}}</td>
  </tr>
  <tr>
    <td>LaserLastOffCommand</td>
    <td>{{ entry.LaserLastOffCommand}}</td>
  </tr>
  <tr>
    <td>LaserSize</td>
    <td>{{ entry.LaserSize}}</td>
  </tr>
  <tr>
    <td>LaserAccDist</td>
    <td>{{ entry.LaserAccDist}}</td>
  </tr>
</table>
<table *ngIf="isImageOrImageHole()">
  <tr>
    <th>IMG</th>
  </tr>
  <tr>
    <td>AutoScale</td>
    <td>{{ entry.AutoScale}}</td>
  </tr>
  <tr>
    <td>ImageWriteToFileName</td>
    <td>{{ entry.ImageWriteToFileName}}</td>
  </tr>
  <tr>
    <td>GrayThreshold</td>
    <td>{{ entry.GrayThreshold}}</td>
  </tr>
  <tr>
    <td>ImageDPIX</td>
    <td>{{ entry.ImageDPIX}}</td>
  </tr>
  <tr>
    <td>ImageDPIY</td>
    <td>{{ entry.ImageDPIY}}</td>
  </tr>
  <tr>
    <td>ImageInvert</td>
    <td>{{ entry.ImageInvert}}</td>
  </tr>
  <tr>
    <td>Dither</td>
    <td>{{ DitherFilter[entry.Dither]}}</td>
  </tr>
  <tr>
    <td>NewspaperDitherSize</td>
    <td>{{ entry.NewspaperDitherSize}}</td>
  </tr>
</table>
<table *ngIf="isImageHole()">
  <tr>
    <th>Hole</th>
  </tr>
  <tr>
    <td>HoleType</td>
    <td>{{ EHoleType[entry.HoleType] }}</td>
  </tr>
  <tr>
    <td>DotDistX</td>
    <td>{{ entry.DotDistX}}</td>
  </tr>
  <tr>
    <td>DotDistY</td>
    <td>{{ entry.DotDistY}}</td>
  </tr>
  <tr>
    <td>DotSizeX</td>
    <td>{{ entry.DotSizeX}}</td>
  </tr>
  <tr>
    <td>DotSizeX</td>
    <td>{{ entry.DotSizeX}}</td>
  </tr>
  <tr>
    <td>DotSizeY</td>
    <td>{{ entry.DotSizeY}}</td>
  </tr>
  <tr>
    <td>UseYShift</td>
    <td>{{ entry.UseYShift}}</td>
  </tr>
  <tr>
    <td>RotateHeart</td>
    <td>{{ entry.RotateHeart}}</td>
  </tr>
</table>
</div>

<button (click)='newLoadOption()'>new</button>
