<div class="container-fluid nopadding">
  <div class="row ofsRow nopadding">
    <button mat-stroked-button class="rotate-button" (click)='machineControlState.postcommand("g69")'>G69 - Clear</button>
    <button mat-stroked-button class="rotate-button" (click)='machineControlState.postcommand("g68 x0y0r90")'>G68:X0Y0R90</button>
    <button mat-stroked-button class="rotate-button" (click)='machineControlState.postcommand("g68 x0y0r270")'>G68:X0Y0R270</button>
    <button mat-stroked-button class="rotate-button" (click)='machineControlState.postcommand("g68.10")'>G68.10 - Clear</button>
    <button mat-stroked-button class="rotate-button" (click)='machineControlState.postcommand("g68.11")'>G68.11 - Offset</button>
    <button mat-stroked-button class="rotate-button" (click)='machineControlState.postcommand("g68.13 j0k0")'>G68.13 - RotateYZ</button>
    <button mat-stroked-button class="rotate-button" (click)='machineControlState.postcommand("g68.14 i0")'>G68.14 - RotateX</button>
  </div>
</div>
