<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Off"
      internalLogToconsole="false"
      autoReload="true">
  <variable name="Layout" value="${longdate}|${event-properties:item=EventId_Id}|${threadid}|${level}|${logger}|${message} ${exception:format=tostring,stacktrace}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="console" xsi:type="AsyncWrapper">
      <target xsi:type="Console" layout="${Layout}"
              detectConsoleAvailable="true" />
    </target>

    <target name="logFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              layout="${Layout}"
              fileName="${basedir}/logs/current.log"
              archiveFileName="${basedir}/logs/log-{#}.zip"
              archiveEvery="Sunday"
              maxArchiveFiles="52"
              enableArchiveFileCompression="true"
              keepFileOpen="true"
              openFileCacheTimeout="30"
              concurrentWrites="false"
              cleanupFileName="false" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    
    <!-- WebHost writes information about all requests. We want to keep this.  -->
    <logger name="Microsoft.AspNetCore.Hosting.Internal.WebHost" minLevel="Info" writeTo="logFile" />
    <!--Skip non-critical Microsoft logs.-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" /> <!-- BlackHole without writeTo -->

    <logger name="*" minlevel="Info" writeTo="logFile" />
  </rules>
</nlog>
