<div *ngIf="!cncLibloggedinService.isUserLoggedIn()">
  <div *ngIf="isInRegister">
    <register></register>
  </div>
  <div *ngIf="!isInRegister">
    <login></login>
    <div>
      <p>
        If you have no login please register
        <span>
          <button mat-stroked-button (click)="isInRegister=true">here</button>
        </span>
      </p>
    </div>
  </div>
</div>

<div *ngIf="cncLibloggedinService.isUserLoggedIn()">
  <p>Login in as : {{cncLibloggedinService.username()}}</p>
  <button mat-stroked-button (click)="cncLibloggedinService.logout()">Logout</button>

  <button *ngIf="!isMore" mat-button class="menuHide-button" (click)='isMore = true'>
    <fa-icon icon="chevron-right"></fa-icon>
  </button>

  <button *ngIf="isMore" mat-stroked-button (click)="initialize()">Initialize</button>
  <button *ngIf="isMore" mat-stroked-button (click)="cleanup()">Cleanup</button>
  <button *ngIf="isMore" mat-stroked-button (click)="leave()">Leave</button>

  <button *ngIf="isMore" mat-button class="menuHide-button" (click)='isMore = false'>
    <fa-icon icon="chevron-left"></fa-icon>
  </button>

</div>
