.container { 
  width: 150px;
 }

 .nopadding {
  padding: 0px;
  margin: 0px;
}

.ofsValue {
  width: 65px;
  text-align: center;
  padding: 0px;
}

.ofsRow {
  height: 30px;
}

.lable-axis 
{ 
  width: 20px; 
  text-align: start;
  padding: 0px;
}
