.container { width: 135px; }

.ofsValue {
  width: 60px;
  text-align: center;
  padding: 0px;
}

.ofsRow { height: 30px; }

.row {
  padding: 0px;
}

.lable-axis 
{ 
  width: 20px; 
  text-align: start;
}
