.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    background-color: #ffffff;
    padding: 0px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 25px;
    text-align: center;
}
