.grid-container {
    display: grid;
    grid-template-columns: 115px 115px 115px;
    background-color: #ffffff;
    padding: 0px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 15px;
    text-align: center;
}
