<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.message}}</p>
</div>
<div mat-dialog-actions>
  @if (data.haveOk) {
    <button mat-button (click)="onCloseOk()" cdkFocusInitial>Ok</button>
  }
  @if (data.haveYes) {
    <button mat-button (click)="onCloseYes()" cdkFocusInitial>Yes</button>
  }
  @if (data.haveNo) {
    <button mat-button (click)="onCloseNo()" cdkFocusInitial>No</button>
  }
  @if (data.haveCancel) {
    <button mat-button (click)="onCloseCancel()" cdkFocusInitial>Cancel</button>
  }
  @if (data.haveClose) {
    <button mat-button (click)="onCloseClose()" cdkFocusInitial>Close</button>
  }
</div>
