<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.message}}</p>
</div>
<div mat-dialog-actions>
  <button *ngIf="data.haveOk" mat-button (click)="onCloseOk()" cdkFocusInitial>Ok</button>
  <button *ngIf="data.haveYes" mat-button (click)="onCloseYes()" cdkFocusInitial>Yes</button>
  <button *ngIf="data.haveNo" mat-button (click)="onCloseNo()" cdkFocusInitial>No</button>
  <button *ngIf="data.haveCancel" mat-button (click)="onCloseCancel()" cdkFocusInitial>Cancel</button>
</div>
