<div class='main-nav navbar-dark bg-dark'>
  <a class='navbar-brand' [routerLink]='["/"]'>CNCLib.Server</a>
  <div class='navbar'>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home"><fa-icon icon="home"></fa-icon> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/machine"><fa-icon icon="toolbox"></fa-icon> Machines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gcode"><fa-icon icon="cogs"></fa-icon> G-Code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/eepromconfig"><fa-icon icon="calculator"></fa-icon> Eeprom-Config</a>
      </li>
    </ul>
  </div>
</div>
