table { }

.reloadbuttons {
  float:right
}

.mat-column-Id { width: 50px; }

.mat-column-PortName { width: 200px; }

.mat-column-IsConnected { width: 90px; }

.mat-column-IsAborted { width: 90px; }

.mat-column-IsSingleStep { width: 90px; }

.mat-column-CommandsInQueue { width: 90px; }

.mat-column-Task { width: 450px; }

.taskbutton { margin-right: 5px; }

.div-alporthistory {
  margin-top: 5px
}
