@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>CNCLib</h1>
<p class="lead">CNCLib is a free library for CNC machines</p>
<p><a href="https://sourceforge.net/projects/cnclibrary/" class="btn btn-primary btn-lg">See &raquo;</a></p>

<address>
    Herbert Aitenbichler<br />
</address>
