<p>Command history: {{forserialportid}}</p>

<p *ngIf="!serialcommands"><em>Loading...</em></p>

<p><button (click)='refresh()'>Refresh</button><button (click)='clear()'>Clear</button></p>

<table class='table' *ngIf="serialcommands">
    <thead>
        <tr>
            <th>SeqId</th>
            <th>SentTime</th>
            <th>CommandText</th>
            <th>ReplyType</th>
            <th>ResultText</th>
            <th>ReplyReceivedTime</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let serialcommand of serialcommands">
            <td>{{ serialcommand.SeqId }}</td>
            <td>{{ serialcommand.SentTime}}</td>
            <td>{{ serialcommand.CommandText}}</td>
            <td>{{ serialcommand.ReplyType}}</td>
            <td>{{ serialcommand.ResultText}}</td>
            <td>{{ serialcommand.ReplyReceivedTime}}</td>
        </tr>
    </tbody>
</table>
