<div class="container-fluid">
  <div *ngFor="let item of [].constructor(serialServer.getMachine().axis); let i = index">
    <div class="row ofsRow">
      <span class="lable-axis">{{toAxisName(i)}}:</span>
      <input class="ofsValue" type="number" [value]="machineControlGlobal.position[i]"/>
      <input class="ofsValue" type="number" [value]="machineControlGlobal.positionAbs[i]"/>
    </div>
  </div>
  <div class="row">
    <button mat-stroked-button class="setget-button" (click)='getPosition()'>get</button>
  </div>
</div>
