<div class="container-fluid nopadding">
  @for (item of [].constructor(machineControlState.serialServer.getMachine().axis); track item; let i = $index) {
    <div class="row ofsRow nopadding">
      <span class="lable-axis">{{machineControlState.toAxisName(i)}}:</span>
      <input class="ofsValue" type="number" [value]="machineControlState.machineControlGlobal.offsetG92[i]" (input)="machineControlState.machineControlGlobal.offsetG92[i]=$event.target.value"/>
      <button mat-stroked-button class="set-button" (click)='machineControlState.setOfs(i)'>set</button>
      @if (i < 3) {
        <button mat-stroked-button class="probe-button" (click)='machineControlState.probe(i)'>probe</button>
      }
    </div>
  }
  <div class="row ofsRow nopadding">
    <button mat-stroked-button class="clear-button" (click)='machineControlState.clearOfs()'>clear (all)</button>
  </div>
</div>
