.container { width: 175px; }

.nopadding {
  padding: 0px;
  margin: 0px;
}

.set-button {
  width: 40px !important;
  min-width: unset !important;
  padding: 0px;
}

.probe-button {
  width: 60px !important;
  min-width: unset !important;
  padding: 0px;
}

.clear-button {
  width: 100px;
  padding: 0px;
}

.ofsValue {
  width: 60px;
  text-align: center;
  padding: 0px;
  height: 30px;
}

.ofsRow { padding: 0px; }

.lable-axis {
  width: 20px;
  padding: 0px;
}
