.mat-table {
  margin-bottom: 16pt;
  max-width: 1024px;
  width: 100% !important;
}

.mat-column-Id { width: 90px; }

.mat-column-Description { flex: 0 0 30% !important; }

.mat-column-Detail { width: 90px; }

.mat-column-Run { width: 90px; }

.fileinput {
  opacity: 0;
  width: 1px;
  display: none;
}
