<h1>CNCLib machines</h1>

<table mat-table [dataSource]="entries" class="mat-elevation-z8">

  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="SerialServer">
    <th mat-header-cell *matHeaderCellDef> Serial-Server </th>
    <td mat-cell *matCellDef="let element"> {{element.serialServer}} </td>
  </ng-container>

  <ng-container matColumnDef="ComPort">
    <th mat-header-cell *matHeaderCellDef> Com-Port </th>
    <td mat-cell *matCellDef="let element"> {{element.comPort}} </td>
  </ng-container>

  <ng-container matColumnDef="SizeX">
    <th mat-header-cell *matHeaderCellDef> SizeX </th>
    <td mat-cell *matCellDef="let element"> {{element.sizeX}} </td>
  </ng-container>

  <ng-container matColumnDef="SizeY">
    <th mat-header-cell *matHeaderCellDef> SizeY </th>
    <td mat-cell *matCellDef="let element"> {{element.sizeY}} </td>
  </ng-container>

  <ng-container matColumnDef="SizeZ">
    <th mat-header-cell *matHeaderCellDef> SizeZ </th>
    <td mat-cell *matCellDef="let element"> {{element.sizeZ}} </td>
  </ng-container>

  <ng-container matColumnDef="Detail">
    <th mat-header-cell *matHeaderCellDef> Detail </th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button (click)='detailMachine(element.id)'>Details</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Connect">
    <th mat-header-cell *matHeaderCellDef> Connect </th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button *ngIf="!isConnected(element) && canConnectTo(element)" (click)='connectToMachine(element)'>Connect</button>
      <button mat-stroked-button *ngIf="isConnected(element)" (click)='disconnectFromMachine(element)'>Disconnect</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<button mat-stroked-button (click)='newMachine()'>new</button>

<!--
<h1>CNC machine (ID=1)</h1>

<machine-entry [entry]="xentry"></machine-entry>

<table>
  <tr>
    <th>Description</th>
    <th>comPort</th>
    <th>BaudRate</th>
    <th>Axis</th>
    <th>Size-X</th>
    <th>Size-Y</th>
    <th>Size-Z</th>
    <th>Edit</th>
  </tr>
  <tr>

    <td>{{ xentry.description }}</td>
    <td>{{ xentry.comPort }} </td>
    <td>{{ xentry.baudRate }} </td>
    <td>{{ xentry.axis }} </td>
    <td>{{ xentry.sizeX }} </td>
    <td>{{ xentry.sizeY }} </td>
    <td>{{ xentry.sizeZ }} </td>
    <td><button (click)='editMachine()'>Edit</button></td>
  </tr>
</table>

<h1>my CNC machines</h1>

<machine-entry *ngFor="let entry of entries" [entry]="entry"></machine-entry>
-->
