table { }

.reloadbuttons { float: right }

.mat-column-id { width: 50px; }

.mat-column-portName { width: 200px; }

.mat-column-isConnected { width: 90px; }

.mat-column-isAborted { width: 90px; }

.mat-column-isSingleStep { width: 90px; }

.mat-column-commandsInQueue { width: 90px; }

.mat-column-task { width: 550px; }

.taskbutton { margin-right: 5px; }

.div-alporthistory { margin-top: 5px }
