<div>
  <h1>
    Serial ports
    <div class="reloadbuttons">
      <button mat-stroked-button (click)='reload()'>Reload</button>
      <button mat-stroked-button (click)='refresh()'>Refresh(scan ports)</button>
    </div>
  </h1>
</div>

<p *ngIf="!serialports">
  <em>Loading...</em>
</p>

<div *ngIf="serialports" class="mat-elevation-z8">

  <table mat-table [dataSource]="serialports">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="portName">
      <th mat-header-cell *matHeaderCellDef> Port-Name </th>
      <td mat-cell *matCellDef="let element"> {{element.portName}} </td>
    </ng-container>

    <ng-container matColumnDef="isConnected">
      <th mat-header-cell *matHeaderCellDef> Connected </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.isConnected" [disabled]="true"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="isAborted">
      <th mat-header-cell *matHeaderCellDef> Aborted </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.IsAborted" [disabled]="true"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="isSingleStep">
      <th mat-header-cell *matHeaderCellDef> SingleStep </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.IsSingleStep" [disabled]="true"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="commandsInQueue">
      <th mat-header-cell *matHeaderCellDef> Queue-Length </th>
      <td mat-cell *matCellDef="let element"> {{element.commandsInQueue}} </td>
    </ng-container>

    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef> Task </th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button class="taskbutton" (click)='machineControl(element.id)'>Use</button>
        <button mat-stroked-button class="taskbutton" (click)='showHistory(element.id)'>History</button>
        <button mat-stroked-button class="taskbutton" *ngIf="element.isConnected" (click)='clearQueue(element.id)'>Clear Queue</button>
        <button mat-stroked-button class="taskbutton" *ngIf="element.isConnected" (click)='disconnect(element.id)'>Disconnect</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

<div class="div-alporthistory " *ngIf="historyportid >= 0">
  <serialporthistory [forserialportid]=historyportid>Loading...</serialporthistory>
</div>
