<div>
  <h1>Machine control</h1>
</div>

<p *ngIf="!serialports">
  <em>Loading...</em>
</p>

<div *ngIf="serialports" class="mat-elevation-z8">
  <table mat-table [dataSource]="serialports">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="portName">
      <th mat-header-cell *matHeaderCellDef> Port-Name </th>
      <td mat-cell *matCellDef="let element"> {{element.portName}} </td>
    </ng-container>

    <ng-container matColumnDef="isConnected">
      <th mat-header-cell *matHeaderCellDef> Connected </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.isConnected" [disabled]="true"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef> Task </th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button (click)='useport(element)'>Use</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
