<h1>Serial ports</h1>

<p *ngIf="!serialports"><em>Loading...</em></p>

<table class='table' *ngIf="serialports">
    <thead>
        <tr>
            <th>Id</th>
            <th>Port-Name</th>
            <th>Connected</th>
            <th>Aborted</th>
            <th>SingleStep</th>
            <th>Queue</th>
            <th>History</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let serialport of serialports">
            <td>{{ serialport.Id }}</td>
            <td>{{ serialport.PortName }}</td>
            <td>{{ serialport.IsConnected }}</td>
            <td>{{ serialport.IsAborted }}</td>
            <td>{{ serialport.IsSingleStep }}</td>
            <td>{{ serialport.CommandsInQueue }}</td>
            <td><button *ngIf="serialports.isConnected" (click)='abort(serialport.Id)'>History</button><button (click)='showHistory(serialport.Id)'>History</button></td>
        </tr>
    </tbody>
</table>

<div *ngIf="historyportid">
    <serialporthistory [forserialportid]=historyportid>Loading...</serialporthistory>
</div>
