<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2d1e104f-f852-4962-b57b-1b64b9e30907/resourceGroups/CNCLibWeb/providers/Microsoft.Web/sites/CNCLibAPI</ResourceId>
    <ResourceGroup>CNCLibWeb</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cnclibapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cnclibapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CNCLibAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CNCLibAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CNCLibContext" Order="1" Enabled="True">
          <Destination Path="Data Source=cnclibdb.database.windows.net;Initial Catalog=CNCLibDb;Persist Security Info=True;User ID=Herbert;Password=Edith1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CNCLib.Repository.Context.CNCLibContext, CNCLib.Repository" MigrationConfiguration="CNCLib.Repository.Migrations.Configuration, CNCLib.Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CNCLibContextLocal" Order="2" Enabled="False">
          <Destination Path="Data Source=cnclibdb.database.windows.net;Initial Catalog=CNCLibDb;Persist Security Info=True;User ID=Herbert;Password=Edith1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=CNCLib;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CNCLibContextLocal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=CNCLib; Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CNCLibContextLocal-Web.config Connection String">
      <ParameterValue>Data Source=cnclibdb.database.windows.net;Initial Catalog=CNCLibDb;Persist Security Info=True;User ID=Herbert;Password=Edith1234</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CNCLibContext-Web.config Connection String">
      <ParameterValue>Data Source=cnclibdb.database.windows.net;Initial Catalog=CNCLibDb;Persist Security Info=True;User ID=Herbert;Password=Edith1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CNCLibContextLocal-Web.config Connection String">
      <ParameterValue>Data Source=cnclibdb.database.windows.net;Initial Catalog=CNCLibDb;Persist Security Info=True;User ID=Herbert;Password=Edith1234</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CNCLibContext-Web.config Connection String">
      <ParameterValue>Data Source=cnclibdb.database.windows.net;Initial Catalog=CNCLibDb;Persist Security Info=True;User ID=Herbert;Password=Edith1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>