<p>Command history: {{forserialportid}}</p>

<p *ngIf="!serialcommands">
  <em>Loading...</em>
</p>

<p>
  <button (click)='refresh()'>Refresh</button><button (click)='clear()'>Clear</button>
</p>

<div *ngIf="serialcommands" class="mat-elevation-z8">

  <table mat-table [dataSource]="serialcommandsDataSource">

    <ng-container matColumnDef="SeqId">
      <th mat-header-cell *matHeaderCellDef> SeqId </th>
      <td mat-cell *matCellDef="let element"> {{element.SeqId}} </td>
    </ng-container>

    <ng-container matColumnDef="SentTime">
      <th mat-header-cell *matHeaderCellDef> SentTime </th>
      <td mat-cell *matCellDef="let element"> {{element.SentTime | date:'HH:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="CommandText">
      <th mat-header-cell *matHeaderCellDef> CommandText </th>
      <td mat-cell *matCellDef="let element"> {{element.CommandText}} </td>
    </ng-container>

    <ng-container matColumnDef="ReplyType">
      <th mat-header-cell *matHeaderCellDef> ReplyType </th>
      <td mat-cell *matCellDef="let element"> {{element.ReplyType}} </td>
    </ng-container>

    <ng-container matColumnDef="ResultText">
      <th mat-header-cell *matHeaderCellDef> ResultText </th>
      <td mat-cell *matCellDef="let element"> {{element.ResultText}} </td>
    </ng-container>

    <ng-container matColumnDef="ReplyReceivedTime">
      <th mat-header-cell *matHeaderCellDef> ReplyReceivedTime </th>
      <td mat-cell *matCellDef="let element"> {{element.ReplyReceivedTime | date:'HH:mm:ss'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>

</div>
