<div class="container-fluid nopadding">
  <div class="row info-row nopadding">
    <button mat-stroked-button class="info-button" (click)='machineControlState.postcommand("?")'>Info</button>
    <button mat-stroked-button class="info-button" (click)='machineControlState.postcommand("&")'>Debug</button>
    <button mat-stroked-button class="info-button" (click)='machineControlState.postcommand("@")'>Version</button>
    <button mat-stroked-button class="info-button" (click)='machineControlState.postcommand("!")'>Abort</button>
    <button mat-stroked-button class="info-button" (click)='machineControlState.postcommand("!!!")'>Resurrect</button>
    <button mat-stroked-button class="info-button" (click)='showEeprom()'>Eeprom</button>
  </div>
</div>
