.mat-table {
  margin-bottom: 16pt;
  max-width: 800px;
  width: 100% !important;
}

.mat-column-settingName { flex: 0 0 25% !important; }

.mat-column-detail { width: 90px; }

.mat-column-run { width: 90px; }


.fileinput {
  opacity: 0;
  width: 1px;
  display: none;
}
