<h1>G-Code generation templates</h1>

<table mat-table [dataSource]="entries" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="settingName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.settingName}} </td>
  </ng-container>

  <!-- Detail Column -->
  <ng-container matColumnDef="detail">
    <th mat-header-cell *matHeaderCellDef> Detail </th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button (click)='detailLoadOption(element.id)'>Details</button>
    </td>
  </ng-container>

  <!-- Run Column -->
  <ng-container matColumnDef="run">
    <th mat-header-cell *matHeaderCellDef> Run </th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button (click)='runLoadOption(element.id)'>Run ...</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<button mat-stroked-button [disabled]="!cncLibloggedinService.isUserLoggedIn()" (click)='newLoadOption()'>new</button>
