<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Off"
      internalLogToconsole="false"
      autoReload="true">
  <variable name="Layout"
            value="${longdate}|${event-properties:item=EventId_Id}|${threadid}|${level}|${logger}|${message} ${exception:format=tostring,stacktrace}" />

  <variable name="application" value="CNCLib.WebAPI" />
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target name="console" xsi:type="AsyncWrapper">
      <target xsi:type="Console" layout="${Layout}"
              detectConsoleAvailable="true" />
    </target>

    <target name="logFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              layout="${Layout}"
              fileName="${basedir}/logs/current.log"
              archiveFileName="${basedir}/logs/log-{#}.zip"
              archiveEvery="Sunday"
              maxArchiveFiles="52"
              enableArchiveFileCompression="true"
              keepFileOpen="true"
              openFileCacheTimeout="30"
              concurrentWrites="false"
              cleanupFileName="false" />
    </target>

    <target xsi:type="Database"
            name="database"
            connectionString="${gdc:item=connectionString}"
            commandText="INSERT INTO [dbo].[Log] ([LogDate], [Application], [Exception], [Level], [Logger], [MachineName], [Message], [StackTrace], [Username]) VALUES (@LogDate, @Application, @Exception, @Level, @Logger, @MachineName, @Message, @StackTrace, @Username);">
      <parameters name="@LogDate" layout="${date}" />
      <parameter name="@Application" layout="${application}" />
      <parameter name="@Exception" layout="${exception}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
      <parameter name="@UserName" layout="${windows-identity:domain=true}" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />

    <!-- WebHost writes information about all requests. We want to keep this.  -->
    <logger name="Microsoft.AspNetCore.Hosting.Internal.WebHost" minLevel="Info" writeTo="logFile" />
    <logger name="Microsoft.AspNetCore.Hosting.Internal.WebHost" minLevel="Info" writeTo="Database" />
    <!--Skip non-critical Microsoft logs.-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" /> <!-- BlackHole without writeTo -->

    <logger name="*" minlevel="Info" writeTo="logFile" />
    <logger name="*" minlevel="Info" writeTo="Database" />
  </rules>
</nlog>