<div class="container-fluid">
  <div class="row commandRow">
    <label>G-Command:</label>
    <input  class="inputGCode" #gCode (keyup.enter)="sendcommand(gCode.value); gCode.value=''"/>
    <button mat-stroked-button class="go-button" (click)="sendcommand(gCode.value); gCode.value=''">send ...</button>
    <div *ngFor="let cmd of machineControlState.machineControlGlobal.lastCommands">
      <button mat-stroked-button class="resend-button" (click)='machineControlState.postcommand(cmd)'>{{cmd}}</button>
    </div>
  </div>
</div>
