.container { width: 150px; }

.intupGCode {
  width: 150px;
  padding: 0px;
}

.go-button {
  width: 150px;
  padding: 0px;
}

.resend-button {
  width: 150px;
  padding: 0px;
}

.commandRow {
  width: 150px;
  padding: 0px;
}
