<div class="container-fluid">
  <div class="row">
    <button mat-stroked-button class="select-button" (click)="selectOfs()">Select: {{offsetId+1}}</button>
  </div>
  <div class="row ofsRow">
    <span class="lable-axis">X:</span>
    <input class="ofsValue" type="number" [value]="machineControlGlobal.workOfsX[offsetId]" (input)="machineControlGlobal.workOfsX[offsetId]=$event.target.value" />
  </div>
  <div class="row ofsRow">
    <span class="lable-axis">Y:</span>
    <input class="ofsValue" type="number" [value]="machineControlGlobal.workOfsY[offsetId]" (input)="machineControlGlobal.workOfsY[offsetId]=$event.target.value" />
  </div>
  <div class="row ofsRow">
    <span class="lable-axis">Z:</span>
    <input class="ofsValue" type="number" [value]="machineControlGlobal.workOfsZ[offsetId]" (input)="machineControlGlobal.workOfsZ[offsetId]=$event.target.value" />
  </div>
  <div class="row">
    <button mat-stroked-button class="setget-button" (click)='getOfs()'>get</button>
    <button mat-stroked-button class="setget-button" (click)='setOfs()'>set</button>
    <button mat-stroked-button class="setget-button" (click)='relOfs()'>rel</button>
  </div>
</div>
