.container {
  width: 75px;
}

.setget-button {
  width: 25px;
  padding: 0px;
}

.select-button {
  width: 75px;
  padding: 0px;
}

.ofsValue {
  width: 60px;
  text-align: center;
  padding: 0px;
  height: 30px;
}

.ofsRow {
  height: 30px;
}

.row {
  width: 75px;
  padding: 0px;
}

.lable-axis {
   width: 15px;
}
