<p>Port: {{entry.portName}},{{entry.id}} </p>

<form novalidate [formGroup]="setupForm" (ngSubmit)="save(setupForm.value)">
  <div class="form-group input-group">
    <span class="input-group-addon">BaudRate</span>
    <input class="form-control" formControlName="baudRate"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">DtrIsReset</span>
    <input type="checkbox" formControlName="dtrIsReset"/>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon">ResetOnConnect</span>
    <input type="checkbox" formControlName="resetOnConnect"/>
  </div>
  <button mat-stroked-button type="submit" class="btn btn-default" [disabled]="!setupForm.valid">
    Connect
  </button>
</form>
